<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="browserv2.Properties.Settings.browserdbConnectionString"
            connectionString="server=DESKTOP-4G3Q03I;user id=browserUser;password=;persistsecurityinfo=True;database=browserdb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>